@import "@fontsource/poppins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background:
    linear-gradient(
      135deg,
      #ffd6ec,
      #ffe5f6,
      #f3d9ff,
      #ffd6e7
    );

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ff8dc7;
  border-radius: 10px;
}